.india{
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.india .audifono{
  position: absolute;
  margin-top: -126px;
  right: 0px;
}
.india .titulo{
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 30px 0;
}
.india .titulo h1{
  font-size: 20px;
  margin-bottom: 20px;
  margin-top: 30px;
}
.india .titulo p{
  font-size: 14px;
  padding: 0 10px;
}
.india .logos{
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0;
}
.india .logos .portal{
  width: 50%;
  display: flex;
  padding: 0 5%;
}
.india .informacion{
  display: flex;
  flex-direction: column;
}
.india .informacion .comentario{
  border: 1px solid #ccc;
  max-width: 400px;
  margin: 0 auto;
  display: none;
}
.india .informacion .comentario:first-child {
  display: block;
}

.india .informacion .comentario .video{
  width: 100%;
  display: none;
  margin: 0 auto;
}
.india .informacion .comentario .video.visible{
  display: block;
}
.india .informacion .comentario .descripcion{
  font-size: 16px;

}
.india .informacion .comentario .descripcion > p{
    font-size: 14px;
    padding: 10px;
    letter-spacing: 0.2px;
    line-height: 20px
}
.india .informacion .comentario .descripcion .usuario{
  display: flex;
  flex-direction: row;
  align-content: center;
  padding: 10px;
}
.india .informacion .comentario .descripcion .usuario .foto{
  width: 30px;
  height: 30px;
  border-radius: 15px;
}
.india .informacion .comentario .descripcion .usuario .user{
  margin-left: 10px;
  display: flex;
  flex-direction: column;

}
.india .informacion .comentario .descripcion .usuario .user h1{
  font-size: 14px;
  margin-bottom: 4px;
}
.india .informacion .comentario .descripcion .usuario .user p{
  font-size: 12px;
}

.india .buttons .read{
  display: flex;
  margin: 20px auto;
  text-decoration: none;
  justify-content: center;
  color: black;
}
.india .buttons .read span{
  margin-right: 10px;
}
@media screen and (min-width: 768px){
  .india .informacion .comentario:first-child {
    display: flex;
    max-width: 600px;
  }
  .india .informacion .comentario .video {
    width: 30%;
  }
  .india .informacion .comentario .descripcion {
    width: 70%;
  }
}

@media screen and (min-width: 1000px){
  /*.india .titulo h1{
    font-size: 25px;
  }
  .india .titulo p{
    font-size: 16px;
  }
  .india .logos{
    margin: 20px 0;
    margin-bottom: 20px;
  }
  .india .logos .portal{
    width: 20%;
    display: flex;
    justify-content: space-around;
  }
  .india .informacion{
    flex-direction: row;
    width: 80%;
    padding: 20px 10%;
    padding-bottom: 30px;
    border: none;
  }
  .india .informacion .video{
    width: 30%;
    padding-bottom: 10px
  }
  .india .logos .portal{
    width: calc(20% - 10px);
    display: flex;
    padding: 0 2.5%;
  }

  .india .informacion .comentario .descripcion{

    display: flex;
    margin: auto;
    padding: 10px 10px;
    justify-content: space-between;
  }
  .india .informacion .comentario .descripcion p{
    font-size: 16px;
  }
  .india .informacion .comentario .descripcion {
    width: 50%;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0,0,0,0.2);
    padding: 10px 10px;
  }
  .india .informacion .comentario .descripcion {
    width: 40%;
    display: block;
    border: 1px solid rgba(0,0,0,0.2);
    padding: 10px 10px;
  }

  .india .informacion .comentario .descripcion .usuario .user h1{
    font-size: 18px;
  }
  .india .informacion .comentario .descripcion .usuario .user p{
    font-size: 14px;
  }
  .india .buttons .read{
    justify-content: center;
  }*/
}
