div{
  width: 100%;
}
.salon{
  background: #e2e9f1;
  position: relative;
  width: 100%;
  padding-top: 25px;
}
.salon .base1{
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
}
.salon .base1 h1{
  color: #384e63;
  font-size: 18px;
  padding-top: 20px;
  margin-bottom: 20px;
  padding: 0 20px;
}
.salon .base1 p{
  color: #3c5366;
  font-size: 12px;
  padding: 0 35px;
}
.salon .background1{
  padding: 0 ;
}
.salon .background1 .imagen-tablet{
  max-width: 250px;
  display: block;
  margin: 0 auto;
}
.salon .background1 .imagen-desktop{
  display: none;
}
.salon .referencia{
  margin:20px 0;
  width: 100%;
  text-align: center;
}
.salon .referencia h1{
  color: #3c5366;
  font-size: 12px;
}
.salon .referencia .vinculos{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 20px;
}
.salon .referencia .vinculos .ref {
  display: flex;
  flex-direction: column;
  width: 15px;
  align-items: center;
}
.salon .referencia .vinculos .ref.hover{

}
.salon .referencia .vinculos .ref .linea{
  width: 1px;
  height: 10px;
}
.salon .referencia .vinculos .ref .circulo{
  width: 5px;
  padding: 5px;
  border-radius: 5px;
  background: #bac4ce;
}
.salon .referencia .vinculos .ref:hover .circulo{
  background: #3698db;
}
.salon .referencia .vinculos .ref:hover .linea{
  width: 1px;
  height: 10px;
  background: #3698db;
}

.salon .buttons{
  width: 100%;
  display: flex;
  justify-content:center;
}
.salon .buttons .browse{
  background: #3598db;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 17px;
  padding: 10px 17px;
  margin-bottom: 50px;

}
.salon .buttons .browse span{
    color: #dfe7f2;
    font-size: 14px;
    margin-right: 10px;
}
.salon .referencia-columna{
  display: none;
}
@media screen and (min-width: 1000px){
  .salon{
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    padding-bottom: 80px;
  }
  .salon .base1{
      display: none;
  }

  .salon .background1{
    position: relative;
    width: 100%;
  }
  .salon .background1 .imagen-tablet{
    max-width: 500px;
    display: block;
    margin: 0 auto;
  }
  .salon .referencia{
    display: none;
  }
  .salon .buttons{
    display: none;
  }
  .salon .referencia-columna{
    display: block;
  }
  .salon .referencia-columna h1{
    color: rgba(0,0,0,0.8);
    font-size: 18px;
    margin-bottom: 10px;
  }
  .salon .referencia-columna p{
    color: #3c5366;
    font-size: 14px;
    padding: 20 10px;
    margin-bottom: 40px;
  }
  .salon .referencia-columna .description1 p{
    color: #3c5366;
    font-size: 14px;
    margin-bottom: 14px;
  }
  .salon .referencia-columna .description1 h2{
    color: rgba(0,0,0,0.8);
    font-size: 14px;
    margin: 20px 0;
  }
  .salon .referencia-columna .buttons1{
    width: 100%;
    margin-top: 40px;
  }
  .salon .referencia-columna .buttons1 .browse1{
    width: 20%;
    background: #3598db;
    justify-content: space-between;
    text-decoration: none;
    border-radius: 17px;
    padding: 10px 33px;
    margin-bottom: 40px;
  }
  .salon .referencia-columna .buttons1 .browse1 span{
      font-size: 14px;
      color: white;
  }

}
